
@{
    ViewBag.Title = "DeptHomePage";

    ViewBag.ShowBasicNavbar = false;
    ViewBag.ShowNavbar = true;
    ViewBag.ShowSideBar1 = true;
    ViewBag.Login = false;
    ViewBag.ShowHomeIcon = true;
    ViewBag.Module = true;
}


<!DOCTYPE html>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Link Example</title>
    <style>
        .hero {
            margin-top: 12%;
            margin-left: 25%;
            background-color: #f8f9fa;
            padding: 50px 50px;
            text-align: center;
            width:70%;
      }
        .ps-5{
            padding-left:30% !important ;
        }

    
    </style>


    <div class="hero container" style="padding: 30px 0;">
        <div class="row align-items-center ps-5">
            <div class="col-md-6" style="padding:2px;">
                <p class="fs-3">Welcome Department</p>
                <p class="fs-1">AMC</p>
            </div>
            
        </div>
    </div>

    </body>
</html>
