@model IEnumerable<AMC_THEATER_1.Models.TheaterViewModel>
@{
    ViewBag.CurrentAction = "List of Application";
    Layout = "~/Views/Shared/_HomeSideBar.cshtml";

    ViewBag.Title = "List";

    ViewBag.ShowBasicNavbar = false;


    ViewBag.ShowNavbar = true;


    ViewBag.ShowSideBar = true;
    ViewBag.Login = false;
    ViewBag.ModuleTax = true;
}


@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">@ViewBag.Message</div>
}

<!-- Use the Common Table View -->
@Html.Partial("CommonTableView", Model)
